# Title
My First Notebook

In [3]:
x = 5

In [4]:
x

5

In [9]:
y = 100

In [10]:
y

100

In [11]:
age = 28

In [12]:
age

28

In [16]:
X

NameError: name 'X' is not defined

In [19]:
h = 5

In [21]:
h+2

7

In [23]:
x = 10

In [24]:
X = 20

In [25]:
X

20

In [26]:
x

10

In [30]:
name = 'John'

In [31]:
name

'John'

# Library

In [35]:
import math

In [37]:
math.sqrt(50)

7.0710678118654755

# Data Analysis

In [38]:
!pip install pandas

Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in d:\anaconda\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anaconda\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [45]:
import pandas as pd

In [49]:
bd = pd.read_csv('cars.csv',encoding='ISO-8859-1')

In [50]:
bd.shape

(33, 12)

In [52]:
bd.head()

,Model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0

In [53]:
# Dataframe summary: Only numeric columns
bd.describe(include = "all")

,Model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,33,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
unique,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Mazda RX4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,NaN,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,NaN,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,NaN,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,NaN,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,NaN,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,NaN,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

# Tasks

In [54]:
# 1. Read the data inside Python.
data = pd.read_csv('cars.csv', encoding='ISO-8859-1')

In [55]:
# 2. Print How many rows and columns are there in the data
rows, columns = data.shape
print(f"Rows are: {rows}, Columns are: {columns}")

Rows are: 33, Columns are: 12

In [58]:
#3. Analyse the data with summary statistics like Mean, Median, SD.

mean_values = data.mean(numeric_only=True)
median_values = data.median(numeric_only=True)
std_values = data.std(numeric_only=True)

print("\nMean Values:")
print(mean_values)

print("\nMedian Values:")
print(median_values)

print("\nStandard Deviation Values:")
print(std_values)

Mean Values:
mpg      20.090625
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.848750
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64

Median Values:
mpg      19.200
cyl       6.000
disp    196.300
hp      123.000
drat      3.695
wt        3.325
qsec     17.710
vs        0.000
am        0.000
gear      4.000
carb      2.000
dtype: float64

Standard Deviation Values:
mpg       6.026948
cyl       1.785922
disp    123.938694
hp       68.562868
drat      0.534679
wt        0.978457
qsec      1.786943
vs        0.504016
am        0.498991
gear      0.737804
carb      1.615200
dtype: float64

In [60]:
# 4. Write Interpretation of 25 % and 75 %
summary_stats = data.describe()
percentile_25 = summary_stats.loc["25%"]
percentile_75 = summary_stats.loc["75%"]

print("\n25% Percentiles:")
print(percentile_25)

print("\n75% Percentiles:")
print(percentile_75)

25% Percentiles:
mpg      15.42500
cyl       4.00000
disp    120.82500
hp       96.50000
drat      3.08000
wt        2.58125
qsec     16.89250
vs        0.00000
am        0.00000
gear      3.00000
carb      2.00000
Name: 25%, dtype: float64

75% Percentiles:
mpg      22.80
cyl       8.00
disp    326.00
hp      180.00
drat      3.92
wt        3.61
qsec     18.90
vs        1.00
am        1.00
gear      4.00
carb      4.00
Name: 75%, dtype: float64